name: .NET Core Desktop

on:
  push:
    branches: 
      - master
      - test
jobs:
  Job-DotNet:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository code ('${{ github.repository}}' cloned to the runner)
        uses: actions/checkout@v2


